@import "./custom-styles/variables";

.navbar {
  height: 80px;

  .nav-link {
      text-transform: uppercase;
      padding-left: 1rem !important;
      padding-right: 1rem !important;

      &:not(.sign-up-btn){
          color: #242120 !important;
      }

      &.sign-up-btn{
        background-color: $main-color !important;
    }
  }
}

.custom-links{
    max-width: 1440px;
   .nav-link{
       text-transform: uppercase;
       color: #242120 !important;
   } 
}
